<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="vi">
<head th:replace="~{fragments/main_fragment.html::page_head('Đổi thông tin')}"/>
<body>
<div class="container-fluid text-center">
  <nav th:replace="~{fragments/main_fragment.html :: navbar}"></nav>
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-4">
          <div class="profile-img d-flex justify-content-center">
            <!--                        <div th:if="user.image == null"  style= "background-image: url('https://res.cloudinary.com/dmriwkfll/image/upload/v1650937333/user_tz4efy.png');-->
            <!--                         width: 50px; height: 50px; background-position: top center; background-size: cover; border-radius: 50%; margin: 0 auto;">-->
            <!--                        </div>-->
            <div style= "background-image: url('https://res.cloudinary.com/dmriwkfll/image/upload/v1650937333/user_tz4efy.png');
                         width: 50px; height: 50px; background-position: top center; background-size: cover; border-radius: 50%; margin: 0 auto;">
            </div>
            <!--                        <div th:if="user.image != null"  style= "width: 50px; height: 50px; background-position: top center; background-size: cover;-->
            <!--                        border-radius: 50%; margin: 0 auto;" th:style="'background-image: url(' + ${user.image} + ')'">-->
            <!--                        </div>-->
          </div>
      </div>
      <div class="col-lg-9 col-md-9 col-8">
        <div class="profile-title">
          <span class="h4">Thông tin tài khoản</span>
        </div>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-lg-3 col-md-3 col-4">
        <div class="profile-content profile-option">
          <div class="profile-info p-3  profile-option" style="background-color: white">
            <a th:href="@{/profile}" class="text-decoration-none text-black">
              <i class="far fa-user"></i>
              Thông tin tài khoản
            </a>
          </div>
          <div class="change_password p-3 profile-option">
            <a th:href="@{/change-password}" class="text-decoration-none text-black">
              <i class="fas fa-lock"></i>
              Đổi mật khẩu
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-8">
        <form th:action="@{/change-info/save}" th:object="${user}" method="POST" id="form"  class="p-4 rounded bg-white">
          <input  type="hidden" th:field="*{id}"/>
          <div class="name py-2 d-flex align-items-center form-group">
            <div class="name-title"  style="width:150px;">Email</div>
            <input type="email" class="form-control" disabled th:value="${user.email}" style="width: 320px;">
          </div>
          <div class="name py-2 d-flex align-items-centerf orm-group">
            <div  style="width:150px;">Họ người dùng</div>
            <input type="text" class="form-control" th:field="*{firstName}"  th:value="${user.firstName}"  style="width: 320px;">
          </div>
          <div class="name py-2 d-flex align-items-center form-group">
            <div style="width:150px;">Tên người dùng</div>
            <input type="text" class="form-control"  th:field="*{lastName}" th:value="${user.lastName}" style="width: 320px;">
          </div>
<!--          <div class="name py-2 d-flex align-items-center form-group">-->
<!--            <div  style="width:150px;">Số điện thoại</div>-->
<!--            <input type="text" class="form-control" value="01643490822" style="width: 320px;">-->
<!--          </div>-->
          <div class="change-info py-2 d-flex">
            <div class="change-title d-block" style="width: 150px;"></div>
            <button type="submit" class="btn btn-danger text-uppercase" id="updateBtn">Cập nhật</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<footer th:replace="~{fragments/main_fragment.html:: footer}"></footer>
<script type="text/javascript" th:src="@{/js/show_dropdown_user.js}"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
<script>
  $(document).ready(function() {
    // $("#updateBtn").click(function() {
    //   $("#form input").each(function() {
    //     if ($(this).val().trim() === "") {
    //       alert("Vui lòng điền đầy đủ thông tin.");
    //       return false;
    //     }
    //   });
    //   $("#form").submit();
    // });

    $("#form").submit(function(event) {
      var formIsValid = true;

      $(this).find("input").each(function() {
        if ($(this).val().trim() === "") {
          formIsValid = false;
          return false;
        }
      });

      if (!formIsValid) {
          Swal.fire({
            title: '',
            text: MESSAGE_NOTIFY.BLANK_ERROR,
            icon: 'error',
            confirmButtonColor: '#3085d6',
            timer : 3000,
            timerProgressBar: true
          })
        event.preventDefault();
      }
    });
  });

</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.4/dist/sweetalert2.all.min.js"></script>
<script type="text/javascript" th:src="@{/js/NOTIFY.js}"></script>
</body>

</html>