<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/main_fragment.html::page_head('Brand form')}" />
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/add_form.css}"/>
</head>
<body>
<div id="page-container" class="d-flex flex-column flex-root">
    <div class="d-flex flex-row flex-column-fluid page">
        <div th:replace="${brand.id != null} ? ~{fragments/sidebar_fragment :: sidebar('brand','brand_all')} : ~{fragments/sidebar_fragment :: sidebar('brand','brand_new')}"></div>

        <div class="d-flex flex-column wrapper">
            <div th:replace="~{fragments/header_fragment :: header}"></div>
            <div class="content">

                <section class="form-container">
                    <div class="form-container-header d-flex align-items-center justify-content-between">
                        <h1 class="title" th:text="${brand.id != null} ? 'Sửa Thông Tin Thương Hiệu': 'Thêm Thương Hiệu Mới'"></h1>
                    </div>
                    <div class="form-container-content">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-8">
                                <form th:action="${brand.id != null} ? @{'/admin/brand/edit/' + ${brand.id}} : @{/admin/brand/add}" th:object="${brand}"  method="post" id="form-brand" enctype="multipart/form-data">
                                    <input type="hidden" th:field="*{id}" />
                                    <div class="mb-4">
                                        <label class="form-label" for="name">Name</label>
                                        <input type="text" class="form-control" id="name" th:field="*{name}"  required/>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label" for="description">Description</label>
                                        <textarea class="form-control" id="description" th:field="*{description}" rows="2" required></textarea>
                                    </div>

                                    <div class="mb-4 d-flex align-items-center justify-content-end">
                                        <button type="submit" class="btn btn-danger auth-btn">Lưu</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}" ></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</script><script type="text/javascript" th:src="@{/js/index.js}" ></script>
<script type="text/javascript" th:src="@{/js/NOTIFY.js}" ></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.4/dist/sweetalert2.all.min.js"></script>

<script>
        $(document).ready(function() {


            $("#form-brand").submit(function (event) {
                let name = $("#name").val();
                let description = $("#description").val();
                let brandId = "[[${brand.id}]]";

                if(!name){
                    event.preventDefault();
                    Swal.fire({
                        title: '',
                        text: MESSAGE_NOTIFY.NAME_BLANK_ERROR,
                        icon: 'error',
                        confirmButtonColor: '#3085d6',
                        timer : 3000,
                        timerProgressBar: true
                    })
                    return;
                }

                if(!description){
                    event.preventDefault();
                    Swal.fire({
                        title: '',
                        text: MESSAGE_NOTIFY.DESCRIPTION_BLANK_ERROR,
                        icon: 'error',
                        confirmButtonColor: '#3085d6',
                        timer : 3000,
                        timerProgressBar: true
                    })
                    return;
                }


                if(brandId == null || brandId == '' ) {
                    brandId = 0;
                }
                event.preventDefault();
                $.ajax({
                    method:"POST",
                    url : '/admin/brand/check-before-save',
                    data: {
                        name: name,
                        brandId: brandId
                    },
                    success:function (response) {
                        if(response.includes("OK")){
                            $("#form-brand")[0].submit();
                        }else
                        {
                            Swal.fire({
                                title: '',
                                text: MESSAGE_NOTIFY.BRAND_NAME_DUPLICATE,
                                icon: 'error',
                                confirmButtonColor: '#3085d6',
                                timer : 3000,
                                timerProgressBar: true
                            })
                        }
                    },
                    error: function () {
                        Swal.fire({
                            title: '',
                            text: MESSAGE_NOTIFY.CONNECT_ERROR,
                            timer : 3000,
                            icon: 'error'
                        })
                    }
                })
            })

        })

    </script>

<script>

</script>
</body>

</html>