<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <!-- own-carousel css  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
          integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <!-- own carousel theme css  -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
          integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
<nav th:replace="~{fragments/main_fragment.html :: navbar}"></nav>
<!-- category -->
<div style="padding-top: 98px;">
    <img class="img-fluid" th:src="@{/images/slider_1.webp}" alt="banner">
</div>

<div class="text-uppercase text-center mt-5 p-2">
  <span>
    <img th:src="@{images/flower.webp}" alt="">
  </span>
    <span class="d-block h5 pt-4">
    Các dòng sản phẩm của Beauty Shop
  </span>
</div>

<div class="container text-center">
    <div class="row d-flex justify-content-center">
        <div class="col bg-success p-2 text-decoration-none m-3" style="border-radius: 20px;">
            <a th:href="@{/products?category=3}"  class="category text-decoration-none">
                <span class="h5 text-white ">Má hồng</span>
                <span class="category-img d-block">
        <img th:src="@{images/trang_diem_mat.webp}" alt="">
        </span>
            </a>
        </div>
        <div class="col bg-success p-2 text-decoration-none m-3" style="border-radius: 20px;">
            <a th:href="@{/products?category=1}" class="category text-decoration-none">
                <span class="h5 text-white">Phấn mắt</span>
                <span class="category-img d-block">
        <img th:src="@{images/trang_diem_mat.webp}" alt="">
      </span>
            </a>
        </div>
        <div class="col bg-success p-4 text-decoration-none m-3" style="border-radius: 20px;">
            <a th:href="@{/products?category=2}" class="category text-decoration-none">
                <span class="h5 text-white">Mặt nạ</span>
                <span class="category-img d-block">
          <img th:src="@{images/cham_soc_mat.webp}" alt="">
        </span>
            </a>
        </div>
        <div class="col bg-success p-4 text-decoration-none m-3" style="border-radius: 20px;">
            <a th:href="@{/products?category=4}"  class="category text-decoration-none">
                <span class="h5 text-white">Xịt khoáng</span>
                <span class="category-img d-block">
          <img th:src="@{images/cham_soc_toc.webp}" alt="">
        </span>
            </a>
        </div>

    </div>
</div>

<!-- category -->

<div class="new_product_title text-center py-3 mb-4 position-relative">
  <span>
    <img th:src="@{images/flower.webp}" alt="">
  </span>
    <div class="py-2" style="font-size: 34px;">Sản phẩm mới</div>
    <span class="h6 lead destitle">Bộ sưu tập mới nhất từ Beauty Shop</span>

</div>

<!-- product -->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="owl-carousel own-theme">
                <div class="item px-2" th:each="product : ${productDTOList}">
                    <div class="card border-0">
                        <a th:href="@{'/product/' + ${product.id}}" class="text-decoration-none">
                            <span class="sale_label" th:if="${product.discount != null}">- [[${product.discount}]]%</span>
                            <img th:src="@{${product.getImageProducts()[0].getPath()}}" class="card-img-top">
                            <div class="card-body">
                                <h6 class="text-truncate text-dark">[[${product.name}]]</h6>
                                <div class="price d-flex justify-content-center">
                                    <span  class="new_price text-danger h4 px-3 pe-0"
                                           th:text="${#numbers.formatDecimal(product.getPriceDiscount(), 0, 'COMMA', 0, 'POINT')}"></span>
                                    <span class="text-danger h4" style="padding-right: 10px;">đ</span>
                                    <span th:if="${product.price != product.priceDiscount}" class="old_price text-muted text-strikethrough">
                                      <s th:text="${#numbers.formatDecimal(product.getPrice(), 0, 'COMMA', 0, 'POINT')}"></s>
                                    </span>
                                </div>
                            </div>
                        </a>
                        <div class="div_add_to_card d-flex justify-content-center align-items-center">
                            <button style="border: 2px solid red; border-radius: 20px; background-color: white;"
                                    class="add_to_card mb-3 py-1 px-3 text-danger fw-bold">
                                <a style="text-decoration: none; color: red" th:href="@{'/product/' + ${product.id}}">Xem chi tiết</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="trend_product_title text-center py-3 mb-4 position-relative">
  <span>
    <img th:src="@{images/flower.webp}" alt="">
  </span>
    <div class="py-2" style="font-size: 34px;">Sản phẩm xu hướng</div>
    <span class="h6 lead destitle">Những sản phẩm được khách hàng lựa chọn nhiều nhất</span>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="owl-carousel own-theme">
                <div class="item px-2" th:each="product : ${productDTOSellingList}">
                    <div class="card border-0">
                        <a th:href="@{'/product/' + ${product.getId()}}" class="text-decoration-none">

                            <span class="sale_label" th:if="${product.discount != null}">- [[${product.discount}]]%</span>
                            <img th:src="@{${product.getImageProducts()[0].getPath()}}" class="card-img-top">
                            <div class="card-body">
                                <h6 class="text-truncate text-dark">[[${product.name}]]</h6>
                                <div class="price d-flex justify-content-center">
                                    <span class="new_price text-danger h4 px-3 pe-0"
                                            th:text="${#numbers.formatDecimal(product.getPriceDiscount(), 0, 'COMMA', 0, 'POINT')}"></span>
                                    <span class="text-danger h4" style="padding-right: 10px;">đ</span>
                                    <span th:if="${product.price != product.priceDiscount}" class="old_price text-muted text-strikethrough">
                                      <s th:text="${#numbers.formatDecimal(product.getPrice(), 0, 'COMMA', 0, 'POINT')}"></s>
                                    </span>
                                </div>
                            </div>
                        </a>
                        <div class="div_add_to_card d-flex justify-content-center align-items-center">
                            <button style="border: 2px solid red; border-radius: 20px; background-color: white;"
                                    class="add_to_card mb-3 py-1 px-3 text-danger fw-bold">
                                <a style="text-decoration: none; color: red" th:href="@{'/product/' + ${product.id}}">Xem chi tiết</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="blog_title text-center py-3 mb-4 position-relative">
  <span>
    <img th:src="@{images/flower.webp}" alt="">
  </span>
    <div class="py-2" style="font-size: 34px;">Tin tức & Mẹo</div>
    <span class="h6 lead destitle">Nắm bắt những tin tức và mẹo mới</span>

</div>
<section class="chinhsach" style="background-color: #fff;">
    <div class="container-fluid">
        <div class="row">
            <div class="col items">
                <div class="img text-center py-3">
                    <img th:src="@{images/chinh_sach_1.webp}" alt="chinh sach 1">
                </div>
                <div class="content text-center">
                    <p class="h5 font-weight-normal">Miễn phí ship</p>
                    <span>Cho đơn hàng trên 1 triệu</span>
                </div>
            </div>
            <div class="col items">
                <div class="img text-center py-3">
                    <img th:src="@{images/chinh_sach_2.webp}" alt="chinh sach 1">
                </div>
                <div class="content text-center">
                    <p class="h5 font-weight-normal">Tư vấn miễn phí</p>
                    <span>Không mua không sao</span>
                </div>
            </div>
            <div class="col items">
                <div class="img text-center py-3">
                    <img th:src="@{images/chinh_sach_3.webp}" alt="chinh sach 1">
                </div>
                <div class="content text-center">
                    <p class="h5 font-weight-normal">Tri ân</p>
                    <span>Rất nhiều ưu đãi và quà</span>
                </div>
            </div>
            <div class="col items">
                <div class="img text-center py-3">
                    <img th:src="@{images/chinh_sach_4.webp}" alt="chinh sach 1">
                </div>
                <div class="content text-center">
                    <p class="h5 font-weight-normal">24/7 hỗ trợ online</p>
                    <span>Luôn có nhân viên hỗ trợ</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="register_promotion">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-12" style="background-color: inherit;">
                <h2 class="text-white">Đăng ký nhận tin</h2>
                <p style="font-size: 14px;" class="text-white">
                    Bạn có thể đăng ký nhận tin khuyến mãi bất cứ lúc nào, những thông tin sẽ được gửi tới bạn nhanh
                    nhất.
                </p>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                <div class="mail_footer">
                    <form action="" class="w-100 d-flex">
                        <input type="email" placeholder="Nhập Email của bạn"
                               class="form-control input_register_email ps-4">
                        <button class="btn ptn-primary subscribe d-flex align-items-center justify-content-center"
                                type="submit">
                            <i class="fa fa-paper-plane pe-2"></i>
                            đăng ký
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer th:replace="~{fragments/main_fragment.html :: footer}"></footer>
<!-- Footer -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script><!-- own carousel  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" th:src="@{js/show_dropdown_user.js}"></script>

<script>


    $('.owl-carousel').owlCarousel({
        loop: false,
        margin: 10,
        nav: false,
        responsive: {
            0: {
                items: 2
            },
            600: {
                items: 3
            },
            1000: {
                items: 4
            }
        }
    })
</script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
</body>
</html>