<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sản phẩm </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css?version=51}">

</head>
<body>
<nav th:replace="~{fragments/main_fragment.html :: navbar}"></nav>
<section style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="pt-2">
  <div class="container">
    <ol class="breadcrumb" style="margin: 10px;">
      <li class="breadcrumb-item"><a th:href="@{/}" style="color: black; :hover{color: blue !important;}" class="text-decoration-none" href="#">Trang chủ</a></li>
      <li style="color: #94e3df;" class="breadcrumb-item active" aria-current="page">All</li>
    </ol>
  </div>
</section>

<section style="background-color: #ffffff;">
  <div class="container py-3">
    <div class="row">
      <aside class="col d-flex justify-content-end align-items-center pe-4">
        <span class="me-2">Hiển thị [[${totalProduct}]] kết quả</span>
        <select id="orderBy" class="form-select" style="width: 245px;font-size: 14px;">
          <option value="date" th:selected="${sortField != null && sortField == 'createdAt'}">Mới nhất</option>
<!--          <option value="rating">Thứ tự theo điểm đánh giá</option>-->
          <option value="price-asc" th:selected="${sortField != null && sortField == 'price' && sortDir == 'asc'}">
            Thứ tự giá: từ thấp đến cao
          </option>
          <option value="price-desc" th:selected="${sortField != null && sortField == 'price' && sortDir == 'desc'}">
            Thứ tự giá: từ cao xuống thấp
          </option>
        </select>
      </aside>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-none">
        <div class="brand p-2">
          <h5>Thương hiệu</h5>
          <select id="brand-select" class="form-select" aria-label="Default select example">
            <option th:value="0" th:selected="${brandId == 0}">Tất cả</option>
            <option th:each="brand: ${listBrand}" th:value="${brand.id}" th:text="${brand.name}"
            th:selected="${brandId == brand.id}"></option>
          </select>
        </div>
        <div class="price p-2">
          <h5>Mức giá</h5>
          <select class="form-select" id="price-select" aria-label="Default select example">
            <option value="0" th:selected="${priceId == 0}">Tất cả</option>
            <option value="1" th:selected="${priceId == 1}">Giá dưới 100.000đ</option>
            <option value="2" th:selected="${priceId == 2}">100.000đ - 200.000đ</option>
            <option value="3" th:selected="${priceId == 3}">200.000đ - 300.000đ</option>
            <option value="4" th:selected="${priceId == 4}">300.000đ - 500.000đ</option>
            <option value="5" th:selected="${priceId == 5}">500.000đ - 1000.000đ</option>
            <option value="6" th:selected="${priceId == 6}">Giá trên 1.000.000đ</option>
          </select>
        </div>
        <div class="category p-2">
          <h5>Loại sản phẩm</h5>
            <select id="category-select" class="form-select" aria-label="Default select example">
              <option th:value="0" th:selected="${categoryId == 0}">Tất cả</option>
              <option th:each="category: ${listCategory}" th:value="${category.id}" th:text="${category.name}"
              th:selected="${categoryId == category.id}"></option>
            </select>
        </div>
        <div class="d-flex justify-content-center pt-3">
          <button class="btn btn-primary text-uppercase" id="btnSearchAll" style="width: 100px;">
            Lọc
          </button>
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-12 mt-4">
        <div class="row">
          <div th:if="${#lists.isEmpty(listProduct)}">
            <span class="h3">Không tìm thấy sản phẩm nào</span>
          </div>
          <div class="col-lg-4 col-md-4 col-6" th:each="product : ${listProduct}" >
            <div class="item px-2 my-2" style="border: 1px solid #f5f5f5;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
              <div class="card border-0 ">
                <a th:href="@{'/product/' + ${product.getId()}}" class="text-decoration-none">
                  <span class="sale_label" th:if="${product.discount != null}">- [[${product.discount}]]%</span>
                  <img th:src="@{${product.getImageProducts()[0].getPath()}}" alt="" class="card-img-top">
                  <div class="card-body">
                    <h6 class="text-truncate text-dark">[[${product.getName()}]]</h6>
                    <div class="price d-flex justify-content-center">
                      <span  class="new_price text-danger h4 px-3 pe-0"
                             th:text="${#numbers.formatDecimal(product.getPriceDiscount(), 0, 'COMMA', 0, 'POINT')}"></span>
                      <span class="text-danger h4" style="padding-right: 10px;">đ</span>
                      <span th:if="${product.price != product.priceDiscount}" class="old_price text-muted text-strikethrough">
                        <s th:text="${#numbers.formatDecimal(product.getPrice(), 0, 'COMMA', 0, 'POINT')}"></s>
                      </span>
                    </div>
                  </div>
                </a>
                <div class="div_add_to_card d-flex justify-content-center align-items-center">
                  <button style="border: 2px solid red; border-radius: 20px; background-color: white;" class="add_to_card mb-3 py-1 px-3 text-danger fw-bold">
                    <a style="text-decoration: none; color: red" th:href="@{'/product/' + ${product.id}}">Xem chi tiết</a>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="d-flex justify-content-center col-md-12 col-12" th:if="${totalPage > 1}">
            <nav class="py-4">
              <ul class="pagination">
                <li id="first" th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}" style="cursor: pointer">
                  <a   class="page-link">First</a>
                </li>
                <li id="previous" th:if="${currentPage > 1}" class="page-item" style="cursor: pointer">
                  <a   class="page-link" th:text="${currentPage - 1}">[[${currentPage -1}]]</a>
                </li>
                <li class="page-item active" style="cursor: pointer">
                  <a class="page-link">[[${currentPage}]]</a>
                </li>
                <li id="next" th:if="${currentPage < totalPage}" class="page-item" style="cursor: pointer">
                  <a   class="page-link"
                     >[[${currentPage + 1}]]
                  </a>
                </li>
                <li id="last" th:class="${currentPage == totalPage ? 'page-item disabled' : 'page-item '}" style="cursor: pointer">
                  <a    class="page-link">Last</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- category -->


<!-- Footer -->
<footer th:replace="~{fragments/main_fragment.html :: footer}"></footer>
<script type="text/javascript" th:src="@{js/show_dropdown_user.js}"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>

<script>
  $(document).ready(function() {
    let totalPage = [[${totalPage}]];

    $("#orderBy").on("change", function() {
      let selectedOption = $(this).val();
      let param;
      if(selectedOption === 'date'){
        param = 'sortField=createdAt&sortDir=asc';
      }else if(selectedOption === 'price-asc'){
        param = 'sortField=price&sortDir=asc';
      }else {
        param = 'sortField=price&sortDir=desc'
      }
      let currentURL = window.location.href;
      let newURL;
        if(currentURL.includes("&sortField")){
          newURL = currentURL.split("&sortField")[0]  + "&" + param;
      }else if(currentURL.includes("?sortField")){
        newURL = currentURL.split("?sortField")[0]  + "?" + param;
      }else if(currentURL.includes("&pageNum")){
        newURL = currentURL.split("&pageNum")[0] + "&" + param;
      } else if(currentURL.includes("?")) {
        newURL = currentURL +"&" + param;
      }else {
        newURL = currentURL +"?" + param;
      }
      window.location.href = newURL;
    });

    $('#next').on("click", function (e) {
      e.preventDefault();
      let currentURL = window.location.href;
      let currentPage;
      if(currentURL.includes("&pageNum")){
        currentPage = currentURL.split("pageNum=")[1];
        currentPage = parseFloat(currentPage) + 1;
        let newUrl = currentURL.split("pageNum=")[0] +"pageNum=" + currentPage;
        window.location.href = newUrl;
      }else if(currentURL.includes("?pageNum")){
        currentPage = currentURL.split("pageNum=")[1];
        currentPage = parseFloat(currentPage) + 1;
        let newUrl = currentURL.split("pageNum=")[0] +"pageNum=" + currentPage;
        window.location.href = newUrl;
      }else if (currentURL.includes("?")){
        let newUrl = currentURL + "&pageNum=2";
        window.location.href = newUrl;
      }else {
        let newUrl = currentURL + "?pageNum=2";
        window.location.href = newUrl;
      }
    })

    $('#previous').on("click", function (e) {
      e.preventDefault();
      let currentURL = window.location.href;
      let currentPage;
      if(currentURL.includes("pageNum")){
        currentPage = currentURL.split("pageNum=")[1];
        currentPage = parseFloat(currentPage) - 1;
        let newUrl = currentURL.split("pageNum=")[0] +"pageNum=" + currentPage;
        window.location.href = newUrl;
      }
    })

    $('#first').on("click", function (e) {
      e.preventDefault();
      let currentURL = window.location.href;
      let currentPage;
      if(currentURL.includes("&pageNum")){
        currentPage = currentURL.split("&pageNum=")[0];
        let newUrl = currentPage;
        window.location.href = newUrl;
      }else if(currentURL.includes("?pageNum")){
        currentPage = currentURL.split("?pageNum")[0];
        window.location.href = currentPage;
      }
    })

    $('#last').on("click", function (e) {
      e.preventDefault();
      let currentURL = window.location.href;
      let currentPage;
      if(currentURL.includes("pageNum")){
        let newUrl = currentURL.split("pageNum=")[0] +"pageNum=" + totalPage;
        window.location.href = newUrl;
      }else if(currentURL.includes("?")){
        let newUrl = currentURL +"&pageNum=" + totalPage;
        window.location.href = newUrl;
      }else {
        currentPage = currentURL + "?pageNum=" + totalPage;
        window.location.href = currentPage;
      }
    })
    $('#btnSearchAll').on("click", function () {
      let categoryId = $("#category-select").val();
      let brandId = $("#brand-select").val();
      let priceId = $("#price-select").val();
      let currentURL = window.location.href;

      // <option value="0" selected>Tất cả</option>
      // <option value="1">Giá dưới 100.000đ</option>
      // <option value="2">100.000đ - 200.000đ</option>
      // <option value="3">200.000đ - 300.000đ</option>
      // <option value="4">300.000đ - 500.000đ</option>
      // <option value="5">500.000đ - 1000.000đ</option>
      // <option value="6">Giá trên 1.000.000đ</option>
      let minPrice = 0;
      let maxPrice = 0;
      switch (priceId){
        case "1":
            minPrice = 0;
            maxPrice = 100000;
            break;
        case "2":
            minPrice = 100000;
            maxPrice = 200000;
            break;
        case "3":
          minPrice = 200000;
          maxPrice = 300000;
          break;
        case "4":
          minPrice = 300000;
          maxPrice = 500000;
          break;
        case "5":
          minPrice = 500000;
          maxPrice = 1000000;
          break;
        case "6":
          minPrice = 1000000;
          maxPrice = 100000000;
          break;
      }


      // if(categoryId != null && brandId != null){
      //   let newUrl = currentURL.split("?")[0] + "?category=" + categoryId +"&brand=" + brandId;
      //   window.location.href = newUrl;
      // } else if(categoryId != null){
      //   let newUrl = currentURL.split("?")[0] + "?category=" + categoryId + "&" +
      //           currentURL.split("?")[1];
      //   window.location.href = newUrl;
      // }else if(brandId != null){
      //   let newUrl = currentURL.split("?")[0] + "?brand=" + brandId + "&" +
      //           currentURL.split("?")[1];
      //   window.location.href = newUrl;
      // }else {
      //   alert("Vui lòng chọn thể loại và thương hiệu trước khi tìm kiếm!");
      // }
      let newUrl = '';
      if(priceId == 0){
        newUrl = currentURL.split("?")[0] + "?category=" + categoryId + "&brand=" + brandId;
      }else {
        newUrl = currentURL.split("?")[0] + "?category=" + categoryId + "&brand=" + brandId +
                "&minPrice=" + minPrice + "&maxPrice=" + maxPrice;
      }
      window.location.href = newUrl;
    })

  });
</script>

</script>
</body>
</html>