<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/main_fragment.html::page_head('Receipt form')}" />
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/add_form.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/list.css}"/>
</head>
<body>
<div id="page-container" class="d-flex flex-column flex-root">
    <div class="d-flex flex-row flex-column-fluid page">
        <div th:replace="~{fragments/sidebar_fragment :: sidebar('receipt','receipt_new')}"></div>

        <div class="d-flex flex-column wrapper">
            <div th:replace="~{fragments/header_fragment :: header}"></div>
            <div class="content">

                <section class="form-container">
                    <div class="form-container-header d-flex align-items-center justify-content-between">
                        <h1 class="title">Thêm Phiếu Nhập Mới</h1>
                    </div>
                    <div class="form-container-content">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-8">
                                <div id="form-receipt">
                                    <div class="mb-4 d-flex flex-column justify-content-center">
                                        <label class="form-label" for="listSupliers">Nhà cung cấp</label>
                                        <select class="custom-select"  id="listSupliers">
                                            <th:block th:each="supplier : ${listSuppliers}">
                                                <option th:value="${supplier.id}" th:text="${supplier.name}"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                    <div class="mb-4 d-flex align-items-center justify-content-end">
                                        <button type="button" class="btn btn-primary btn-add-product">Thêm sản phẩm</button>
                                    </div>
                                </div>
                            </div>
<!--                            <div class="receipt-detail-field">-->

<!--                            </div>-->
                            <table class="table table-borderless table-striped table-vcenter">
                                <thead>
                                <tr>
                                    <th class="text-uppercase text-center">Tên sản phẩm</th>
                                    <th class="text-uppercase text-center">Đơn giá</th>
                                    <th class="text-uppercase text-center">Số lượng</th>
                                    <th class="text-center text-uppercase">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <div class="mb-4 d-flex align-items-center justify-content-end total-price-div">

                            </div>
                            <div class="mb-4 d-flex align-items-center justify-content-center">
                                <button type="submit" class="btn btn-danger auth-btn btn-save-receipt">Lưu</button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div class="modal fade text-center" id="addProductToReceiptModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalAddProductToReceiptTitle">Thêm sản phẩm</h4>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Sản phẩm</label>
                    <div class="col-sm-9">
                        <select class="custom-select product-select" style="width: 100%">
                            <th:block th:each="product : ${listProducts}">
                                <option th:value="${product.id}" th:text="${product.name}"></option>
                            </th:block>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Giá:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="price"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Số lượng</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="quantity"/>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-confirm-add-product">Thêm</button>
                <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade text-center" id="updateProductToReceiptModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalUpdateProductToReceiptTitle">Sửa sản phẩm</h4>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Sản phẩm</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="productNameUpdate" readonly/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Giá:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="priceUpdate"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Số lượng</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="quantityUpdate"/>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-confirm-update-product">Thêm</button>
                <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}" ></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/index.js}" ></script>
<script type="text/javascript" th:src="@{/js/NOTIFY.js}" ></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.4/dist/sweetalert2.all.min.js"></script>

<script>
    var receiptDetails = [];
    var selectedRowIndex;
    $(document).ready(function() {

        $(".btn-add-product").on('click',function (e) {
            $("#addProductToReceiptModal").modal('show');
        })

        $(".btn-confirm-add-product").on('click', function (e) {

                let price = $("#price").val();
                let quantity = $("#quantity").val();
                if(!price){
                    Swal.fire({
                        title: '',
                        text: MESSAGE_NOTIFY.PRODUCT_PRICE_BLANK,
                        icon: 'error',
                        confirmButtonColor: '#3085d6',
                        timer : 3000,
                        timerProgressBar: true
                    })
                    return;
                }
                if(!quantity){
                    Swal.fire({
                        title: '',
                        text: MESSAGE_NOTIFY.RECEIPT_QUANTITY_BLANK,
                        icon: 'error',
                        confirmButtonColor: '#3085d6',
                        timer : 3000,
                        timerProgressBar: true
                    })
                    return;
                }
                $('#price').val(parseInt($('#price').val().split('.').join("")))
                $('#quantity').val(parseInt($('#quantity').val().split('.').join("")))
                price = $("#price").val();
                quantity = $("#quantity").val();

                let newDetail = {
                    productId: $(".product-select").val(),
                    productName: $(".product-select").find("option:selected").text(),
                    unitPrice: price,
                    quantity: quantity
                }
                let existDetail = false;
                $.each(receiptDetails, function (index, detail) {
                    if(detail.productId == newDetail.productId){
                        existDetail = true;
                        return;
                    }
                })
                if(!existDetail){
                    receiptDetails.push(newDetail);
                }else {
                    Swal.fire({
                        title: '',
                        text: MESSAGE_NOTIFY.RECEIPT_PRODUCT_DUPLICATE,
                        icon: 'error',
                        confirmButtonColor: '#3085d6',
                        timer : 3000,
                        timerProgressBar: true
                    })
                }
                displayDetail();
                displayTotal();

                $("#addProductToReceiptModal").modal('hide');
                $("#price").val("");
                $("#quantity").val("");
            });

            $(".table").on("click", "#btn-delete-detail", function() {

                let row = $(this).closest("tr"); // Tìm dòng chứa nút "Xóa" được click
                let rowIndex = row.index(); // Lấy chỉ số (index) của dòng
                Swal.fire({
                    title: MESSAGE_NOTIFY.RECEIPT_DELETE_PRODUCT,
                    text: '',
                    icon: 'warning',
                    confirmButtonColor: '#3085d6',
                    confirmButtonText:'Xóa',
                    showCancelButton: true,
                    cancelButtonText:'Quay lại',
                    allowOutSideClick: false
                }).then((result) => {
                    if(result.isConfirmed){
                        // Xóa dòng khỏi bảng
                        row.remove();
                        receiptDetails.splice(rowIndex, 1);
                        displayTotal();
                    }
                });
            });

            $(".table").on("click", "#btn-update-detail", function() {

                let row = $(this).closest("tr");
                selectedRowIndex = row.index();
                let detail = receiptDetails[selectedRowIndex];

                $("#productNameUpdate").val(detail.productName);
                $("#priceUpdate").val(parseInt(detail.unitPrice).toLocaleString('vi-VN'));
                $("#quantityUpdate").val(parseInt(detail.quantity).toLocaleString('vi-VN'));
                $("#updateProductToReceiptModal").modal("show");
            });


            $(".btn-confirm-update-product").click(function() {

                let updatedProductName = $("#productNameUpdate").val();
                let updatedPrice = $("#priceUpdate").val();
                let updatedQuantity = $("#quantityUpdate").val();

                if(!updatedPrice){
                    Swal.fire({
                        title: '',
                        text: MESSAGE_NOTIFY.PRODUCT_PRICE_BLANK,
                        icon: 'error',
                        confirmButtonColor: '#3085d6',
                        timer : 3000,
                        timerProgressBar: true
                    })
                    return;
                }
                if(!updatedQuantity){
                    Swal.fire({
                        title: '',
                        text: MESSAGE_NOTIFY.RECEIPT_QUANTITY_BLANK,
                        icon: 'error',
                        confirmButtonColor: '#3085d6',
                        timer : 3000,
                        timerProgressBar: true
                    })
                    return;
                }

                $('#priceUpdate').val(parseInt($('#priceUpdate').val().split('.').join(""))) //remove dots
                $('#quantityUpdate').val(parseInt($('#quantityUpdate').val().split('.').join(""))) //remove dots
                // Lấy thông tin chỉnh sửa từ các trường input trong modal
                 updatedProductName = $("#productNameUpdate").val();
                 updatedPrice = $("#priceUpdate").val();
                 updatedQuantity = $("#quantityUpdate").val();
    
                // Cập nhật thông tin chi tiết sản phẩm trong mảng receiptDetails
                receiptDetails[selectedRowIndex].productName = updatedProductName;
                receiptDetails[selectedRowIndex].unitPrice = updatedPrice;
                receiptDetails[selectedRowIndex].quantity = updatedQuantity;

                displayDetail();
                displayTotal();
                $("#updateProductToReceiptModal").modal("hide");
            });
            
            $(".btn-save-receipt").on('click',function (event) {
                let supplierId = $("#listSupliers").val();
                console.log(receiptDetails.length);
                if(receiptDetails.length == 0){
                    Swal.fire({
                        title: '',
                        text: MESSAGE_NOTIFY.RECEIPT_PRODUCT_BLANK,
                        icon: 'error',
                        confirmButtonColor: '#3085d6',
                        timer : 3000,
                        timerProgressBar: true
                    })
                    return;
                }
                let request = {
                    supplierId: supplierId,
                    data: receiptDetails
                }


                $.ajax({
                    type:"POST",
                    url:'/admin/receipt/add',
                    contentType:"application/json",
                    data: JSON.stringify(request),
                    success:function (response) {
                        if(response == "OK"){
                            Swal.fire({
                                title: '',
                                text: MESSAGE_NOTIFY.RECEIPT_ADD_SUCCESS,
                                icon: 'success',
                                confirmButtonColor: '#3085d6',
                                timer : 3000,
                                timerProgressBar: true
                            }).then((result) => {
                                if(result.dismiss  == Swal.DismissReason.timer){
                                    window.location.href = '/admin/receipt/page/1';
                                } else if(result.isConfirmed){
                                    window.location.href = '/admin/receipt/page/1';
                                }
                            })
                        }else {
                            Swal.fire({
                                title: '',
                                text: MESSAGE_NOTIFY.LOGIC_ERROR,
                                icon: 'error'
                            })
                        }
                    },
                    error: function () {
                        Swal.fire({
                            title: '',
                            text: MESSAGE_NOTIFY.CONNECT_ERROR,
                            icon: 'error'
                        })
                    }
                })
            })
        })

    function displayTotal() {
        let div = $(".total-price-div");
        let total = 0;
        if(receiptDetails.length > 0){
            div.empty();
            $.each(receiptDetails, function(index, detail) {
                total += detail.quantity * detail.unitPrice;
            });
            total = total.toLocaleString('vi-VN');
            let content = $("<span>").html('<strong>Tổng tiền: </strong>' + total + 'Đ');
            div.append(content);
        }else {
            div.empty();
        }
    }

    function displayDetail() {

        let detailField = $(".table tbody");
        detailField.empty();
        $.each(receiptDetails, function(index, detail) {

            let receiptDetailField = $("<tr>").html(
                "<td class='d-none d-md-table-cell fs-sm'><strong class='product-name'>" + detail.productName + "</strong></td>" +
                "<td class='d-none d-md-table-cell fs-sm'><strong class='product-price'>" + detail.unitPrice + "</strong></td>" +
                "<td class='d-none d-md-table-cell fs-sm'><strong class='product-quantity'>" + detail.quantity + "</strong></td>" +
                "<td class='text-center fs-sm'>" +
                "<button type='button' class='btn btn-sm btn-alt-secondary' id='btn-update-detail'>" +
                "<i class='fas fa-pencil-alt'></i></button>" +
                "<button type='button' class='btn btn-sm btn-alt-secondary' id='btn-delete-detail'>" +
                "<i class='fa fa-fw fa-times text-danger'></i></button>" +
                "</td>" +
                "</tr>");
            detailField.append(receiptDetailField);
        });
    }

</script>

<script>
    $('#price').keyup(function(event) {
        formatNumber(event, $(this))
    })

    $('#priceUpdate').keyup(function(event) {
        formatNumber(event, $(this))
    })
    $('#quantity').keyup(function(event) {
        formatNumber(event, $(this))
    })
    $('#quantityUpdate').keyup(function(event) {
        formatNumber(event, $(this))
    })

</script>
</body>

</html>