<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<html lang="en">
<head th:replace="~{fragments/main_fragment.html::page_head('Change Password')}"/>

<body>
<div class="container-fluid">
    <nav th:replace="~{fragments/main_fragment.html :: navbar}"></nav>
    <div class="pt-2 mt-2">
            <h2>Forget Password | Change Password</h2>
    </div>
    <form th:action="@{/forgot-password/handle}" id="form" method="post" style="width: 500px; height: 270px; margin: 0 auto">
        <div class="border border-secondary rounded p-3 mt-4" >
            <div class="form-group row mt-4">
                <label class="col-sm-5 col-form-label">New Password:</label>
                <div class="col-sm-7">
                    <input type="password" class="form-control newPassword" th:name="newPassword" required minlength="6" maxlength="128"/>
                </div>
            </div>
            <div class="form-group row pt-2">
                <label class="col-sm-5 col-form-label">Confirm Password:</label>
                <div class="col-sm-7">
                    <input type="password" class="form-control confirmNewPassword" required minlength="6" maxlength="128"/>
                </div>
            </div>
            <div class="text-center pt-2">
                <input type="submit" value="Submit" class="btn btn-primary">
            </div>
        </div>
    </form>

    <footer th:replace="~{fragments/main_fragment.html:: footer}"></footer>

</div>
<script>

    $(document).ready(function () {
        $("#form").submit(function (event) {
            event.preventDefault();
            var newPassword = $(".newPassword").val();
            var confirmNewPassword = $(".confirmNewPassword").val();

            if(newPassword === confirmNewPassword){
                changePassword();
                setTimeout(function (){
                    window.location.href = "/";
                },2000);
            }else {
                alert("new password and confirm password not match");
            }
            return true;
        })
    })

    function changePassword() {
        var new_password = $(".newPassword").val();
        url = '/forgot-password/handle';
        console.log(url);
        $.ajax({
            type:"POST",
            url: url,
            data:{
                newPassword:new_password
            }
        }).done(function (response) {
            if(response.includes("success")){
                Swal.fire({
                    title: '',
                    text: "Change password successfully",
                    icon: 'success'
                })
            }else if (response.includes("fail")){
                Swal.fire({
                    title: '',
                    text: "Change password failed",
                    icon: 'error'
                })
            }else alert(response);
        }).fail(function (){
            Swal.fire({
                title: '',
                text: "Error occur while changing password",
                icon: 'error'
            })
        })
    }
</script>
<script type="text/javascript" th:src="@{/js/show_dropdown_user.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.4/dist/sweetalert2.all.min.js"></script>
</body>
</html>